name: Sync Fork with Upstream

on:
  schedule:
    - cron: '0 16 * * *'  # UTC 16:00 (CST 00:00)
    - cron: '0 4 * * *'   # UTC 04:00 (CST 12:00)
  workflow_dispatch: # 允许手动触发

jobs:
  sync-fork:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sync manager repo
        uses: actions/checkout@v4

      - name: Sync Fork
        uses: repo-sync/github-sync@v2
        with:
          source_repo: "FongMi/TV"
          source_branch: "release"
          destination_branch: "lab"
          github_token: "${{ secrets.CUSTOM_GITHUB_TOKEN }}"